/* 시험장에서 안넣어도 되는 것 */
html, body {height: 100%;}
.box {border: 10px solid #999; padding: 30px; height: 100%;}

/* 여기서 부터 시험 */
html, body {margin: 0; padding: 0; font-size: 12px; color: #333;}
div, ul, li, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0; list-style: none;}
table, td {margin: 0; padding: 0; border: 0; border-spacing: 0; border-collapse: collapse;}
img, span {margin: 0; padding: 0;}

* {box-sizing: border-box;}
.clear:after {display: block; content: ""; clear: both;}
.wrap {width: 960px; margin: auto;}

/* 상단네비 1 */
.logo1 {float: left;}
.nav1 {float: right; cursor: pointer;}
.top-nav1 {float: left; width: 120px; height: 40px; line-height: 40px; text-align: center; background-color: orange; border: 1px solid #f00; position: relative;}
.mn-nav1:hover {background-color: red; color: #fff;}
.sub-nav1 {position: absolute; left: 0; top: 40px; width: 100%; background-color: rgba(0,0,0,0.8); display: none;}
.sub-nav1 > li {padding: 8px 0; color: #fff;}
.sub-nav1 > li:hover {background-color: red; color: #fff;}
.mn-hover1 {background-color: red; color: white;}

/* 상단네비 2 */
.logo2 {float: left;}
.nav2 {float: right; position: relative; cursor: pointer;}
.mn-nav2 {float: left; width: 120px; height: 40px; line-height: 40px; text-align: center; background-color: orange; border: 1px solid #f00;}
.sub-nav2 {position: absolute; top: 40px; left: 0; background-color: rgba(0,0,0,0.8); color: #fff; display: none;}
.sub-nav2 ul {float: left; width: 120px;}
.sub-nav2 li {padding: 8px 0; text-align: center;}
.sub-nav2 li:hover {background-color: orange; color: #000;}
.mn-hover2 {background-color: red; color: white;}


/* 상단네비 3 */
.tops3 {position: relative;}
.logo3 {float: left;}
.nav3 {float: right;}
.mn-nav3 {float: left; width: 120px; height: 40px; line-height: 40px; text-align: center; background-color: orange; border: 1px solid #f00;}
.sub-nav3 {width: 960px; position: absolute; top: 40px; left: 0; background-color: rgba(0,0,0,0.8); color: #fff; display: none;}
.sub-nav3 > div {float: right;}
.sub-nav3 ul {float: left; width: 120px;}
.sub-nav3 li {padding: 8px 0; text-align: center;}
.sub-nav3 li:hover {background-color: orange; color: #000;}
.mn-hover3 {background-color: red; color: white;}


.lt1 {width: 160px;}
.lt1 > .lt-nav {padding: 8px; background-color: #ccc; border: 1px solid #f00;}
.lt1 ul {display: none;}
.lt1 li {padding: 8px;}

.lt2 {width: 160px;}
.lt2 > .lt-nav {background-color: #ccc; border: 1px solid #f00; position: relative;}
.lt2 > .lt-nav > div {padding: 8px;}
.lt2 ul {position: absolute; width: 100%; top: 0; left: 160px; background-color: rgba(0,0,0,0.8); color: white; display: none;}
.lt2 li {padding: 8px;}


















