html, body {margin: 0; padding: 0; box-sizing: border-box; color: #333;}
div, ul, li, h1, h2, h3, h4, h5 {margin: 0; padding: 0; box-sizing: border-box;}
img {margin: 0; padding: 0; border: 0;}
table, td, th {margin: 0; padding: 0; border: 0; border-spacing: 0; border-collapse: collapse;}

.clear:after {display: block; content: ""; clear: both;}